/* 80AA6E - green
FF4E2A - orange / red
00353F - navy
FFF194 - cream

verdana pt 12 for body font
*/

@font-face {
    font-family: 'Playfair Display Medium';
    src: url('fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url('fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-BoldItalic.ttf') format('truetype');
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Italic.ttf') format('truetype');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
}

body {
    background-color: #80AA6E;
    margin: 100px 200px 50px 200px;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
}

.nav {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 200px;
    height: 25px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}

.title {
    /*font-style: italic;*/
    font-family: 'Playfair Display Italic', 'Times New Roman', Times, serif;
    font-size: 75px;
    line-height: 80%;
    font-style: italic;
    align-self: center;
    text-align: center;
}

h1.aphrabehn {
    font-size: 120px;
}

h1.oroonoko {
    padding-left: 108px;
    margin-top: -28px;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    font-weight: 700;
    margin-top: -70px;
    font-size: 24px;
}

h3 {
    font-family: 'Lato', Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-align: center;
    margin-top: -20px;
}
.bodyyy {
    width: 900px;
    height: 600px;
    align-self: center;
}

.timeline {
    width: 15px;
    height: 500px;
    background-color: #00353F;
    float: left;
    margin-left: 500px;
    border-radius: 7px;
}

.startdate {
    top: 0px;
    margin-left: 108px;
    width: 50px;
    color:#00353F;
    font-family: 'Times New Roman', Times, serif;
}

.birthdate {
    position: static;
    float: left;
    width: 440px;
    margin-left: -465px;
    margin-top: 75px;
}

.topborder {
    position: relative;
    background-color: #FF4E2A;
    width: 440px;
    height: 20px;
    border-radius: 6px;
    top: 0px;
}

.date {
    position: relative;
    top: 0px;
    margin-left: -300px;
    font-family: 'Times New Roman', Times, serif;

}