/* 80AA6E - green
FF4E2A - orange / red
00353F - navy
FFF194 - cream

verdana pt 12 for body font
*/

@font-face {
    font-family: 'Playfair Display Medium';
    src: url('fonts/PlayfairDisplay-Medium.ttf') format('truetype');
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display Italic';
    src: url('fonts/PlayfairDisplay-Italic.ttf') format('truetype');
    font-style: italic;
}
body {
    background-color: #80AA6E;
    margin: 100px 200px 50px 200px;
}

.title {
    /*font-style: italic;*/
    font-family: 'Playfair Display Italic';
    font-size: 75px;
    line-height: 80%;
    align-self: center;
    text-align: center;
}

h1.aphrabehn {
    font-size: 120px;
}

h1.oroonoko {
    padding-left: 100px;
    margin-top: -28px;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: normal;
    margin-top: -80px;
    font-size: 24px;
}

h3 {

}